*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  padding-bottom: 25px;
}

td, th, hr {
  border-bottom: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #f7f7f7;
}

input {
  font-size: 16px;
  margin-bottom: 20px;
}

input, td, th {
  padding: 5px;
  vertical-align: bottom;
}
